<launch>
    <arg name="R0d" default="[0,100,0]"/>
    <rosparam param="R0d" subst_value="True">$(arg R0d)</rosparam>

    <arg name="L0d" default="[0,50,0]"/>
    <rosparam param="L0d" subst_value="True">$(arg L0d)</rosparam>

    <arg name="LU0d" default="[-50,20,0]"/>
    <rosparam param="LU0d" subst_value="True">$(arg LU0d)</rosparam>

    <arg name="U0d" default="[-100,20,0]"/>
    <rosparam param="U0d" subst_value="True">$(arg U0d)</rosparam>

    <arg name="RU0d" default="[-150,80,0]"/>
    <rosparam param="RU0d" subst_value="True">$(arg RU0d)</rosparam>

    <arg name="U1d" default="[-200,80,0]"/>
    <rosparam param="U1d" subst_value="True">$(arg U1d)</rosparam>

    <arg name="LU1d" default="[-250,20,0]"/>
    <rosparam param="LU1d" subst_value="True">$(arg LU1d)</rosparam>

    <arg name="U2d" default="[-300,20,0]"/>
    <rosparam param="U2d" subst_value="True">$(arg U2d)</rosparam>

    <arg name="R1d" default="[-300,200,0]"/>
    <rosparam param="R1d" subst_value="True">$(arg R1d)</rosparam>

    <arg name="L1d" default="[-300,100,0]"/>
    <rosparam param="L1d" subst_value="True">$(arg L1d)</rosparam>

    <arg name="ROTATEd" default="[-300,100,100]"/>
    <rosparam param="ROTATEd" subst_value="True">$(arg ROTATEd)</rosparam>

    <arg name="U3d" default="[-400,100,0]"/>
    <rosparam param="U3d" subst_value="True">$(arg U3d)</rosparam>

    <node name="auto" pkg="auto" type="auto.py" output="screen"/>
    <include file="$(find robot)/launch/all.launch"/>
</launch>
